<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Country</mat-label>
                    <mat-select id="country" name="country" formControlName="country">
                        <mat-option [value]="'volvo'">
                          Volvo
                        </mat-option>
                      </mat-select>
                    <select matNativeControl id="country" name="country" formControlName="country" required>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Nation</mat-label>
                    <select matNativeControl id="nation" name="nation" formControlName="nation" required>
                        <option mat-option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Town</mat-label>
                    <select matNativeControl id="town" name="town" formControlName="town" required>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Commune</mat-label>
                    <select matNativeControl id="commune" name="commune" formControlName="commune" required>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Garbage type</mat-label>
                    <select matNativeControl id="garbageType" name="garbageType" formControlName="garbageType" required>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Garbage</mat-label>
                    <select matNativeControl id="garbage" name="garbage" formControlName="garbage" required>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>                  
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>EER</mat-label>
                    <select matNativeControl id="eer" name="eer" formControlName="eer" required>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
